body{
  background-color: #578FCA;
}

.To-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #E195AB;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color:white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5 ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover{
  background-color:  hsl(125, 47%, 44%);
}

.delete-button{
  background-color: hsl(10, 98%, 44%);
}

.delete-button:hover{
  background-color:hsl(10, 90%, 40%);
}

.move-button{
  background-color: #F294AD;
}

.move-button:hover{
  background-color: #D25871;
}

input[type="text"]{
  font-size: 1.5rem;
  padding:20px;
  border: 2px solid hsla(0%,0%,80%,0.5);
  border-radius: 1rem;
  color:hsla(0,0%,0%,0.5);
}

ol{
  padding:0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding:15px;
  margin-bottom: 10px;
  background-color:hsl(0,0%,97%);
  border:3px solid hsl(0,0%,85%,0.75);
  border-radius: 10px;
  display:flex;
  align-items:center;
}

.text{
  flex:1;
}

.delete-button, .move-button{
  padding:8px 12px;
  font-size: 1.2rem;
  margin-left: 12px;
}
